<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/css/layui.css">
    <link rel="stylesheet" href="../assets/css/view.css"/>
	<link rel="stylesheet" href="../assets/css/new.css"/>
    <title></title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>私有池余额</span>
                                </div>
                                <div class="total">666</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                <button type="button" class="el-button " ><span>充值</span></button>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>当前VIP余额计价比例：</span>
                                </div>
                                <div class="total">1</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                               <button type="button"  ></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>VIP标准余额</span>
                                </div>
                                <div class="total">111</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                <button type="button" class="el-button " ><span>充值</span></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="layui-col-sm6 layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-body chart-card">
                        <div class="chart-header">
                            <div class="metawrap">
                                <div class="meta">
                                    <span>使用签名配置</span>
                                </div>
                                <div class="total">暂无企签</div>
                            </div>
                        </div>
                        <div class="chart-body">
                            <div class="contentwrap">
                                 <button type="button"  ></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-brief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">公告</li>
                            <li>价格变动记录</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                客户朋友们：
                         大家好，系统更新已完成。充值和签名服务已开放。
本次更新内容包括：
1，开启企签与超级签可选服务；
2，增加超级签动态计费逻辑；

                            </div>
                            <div class="layui-tab-item">
                                ddd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/layui.all.js"></script>
    <script>
     var element = layui.element;
    </script>
</body>
</html>